Repository aiidateam/aiida-quantumespresso-hp: changes, and which pre-commit hooks are due for each by the changed paths.
All: yapf, version-number

yapf:
  name: yapf
  entry: yapf
  language: system
  args:
  - -i

version-number:
  name: Check consistency in version number
  entry: python ./.ci/validate_version_number.py
  args:
  - version
  language: system
  pass_filenames: false

Enable continuous-integration on Github actions
  .github/workflows/ci.yml
Due: none

`HpParser`: adapt to new format of `Hubbard_parameters.dat` of v6.5
  aiida_quantumespresso_hp/parsers/hp.py
  tests/parsers/fixtures/hp/default/aiida.Hubbard_parameters.dat
  tests/parsers/fixtures/hp/default/aiida.chi.dat
  tests/parsers/test_hp/test_hp_default.yml
Due: yapf

`HpCalculation`: change `cmdline` settings key to lowercase
  aiida_quantumespresso_hp/calculations/hp.py
Due: yapf

`HpCalculation`: set `metadata.options.withmpi` default to `True`
  aiida_quantumespresso_hp/calculations/hp.py
Due: yapf

`HpBaseWorkChain`: update to `BaseRestartWorkChain` from `aiida-core`
  aiida_quantumespresso_hp/workflows/hp/base.py
  setup.json
  tests/calculations/functions/test_collect_atomic_calculations.py
  tests/calculations/test_hp.py
  tests/conftest.py
  tests/parsers/__init__.py
  tests/parsers/test_hp.py
  tests/workflows/hp/__init__.py
  tests/workflows/hp/test_base.py
Due: yapf, version-number

`HpCalculation`: remove pointless class attrributes for filepaths
  aiida_quantumespresso_hp/calculations/hp.py
  aiida_quantumespresso_hp/workflows/hp/main.py
Due: yapf

`SelfConsistentHubbardWorkChain`: migrate to `aiida-core==1.2.1`
  aiida_quantumespresso_hp/cli/workflows/__init__.py
  aiida_quantumespresso_hp/cli/workflows/hubbard.py
  aiida_quantumespresso_hp/workflows/hubbard.py
Due: yapf

Add `--with-mpi` flag to CLI of self-consistent Hubbard workflow
  aiida_quantumespresso_hp/cli/workflows/hubbard.py
Due: yapf

CI: improve and clean the pre-commit configuration (#2)
  .github/workflows/ci.yml
  .gitignore
  .pre-commit-config.yaml
  .prospector.yaml
  .pylintrc
  .style.yapf
  MANIFEST.in
  README.md
  aiida_quantumespresso_hp/cli/workflows/hubbard.py
  aiida_quantumespresso_hp/parsers/hp.py
  pyproject.toml
  setup.json
  setup.py
  tests/calculations/test_hp.py
  utils/__init__.py
  utils/fastentrypoints.py
Due: yapf, version-number

`HpBaseWorkChain`: add handler for `ERROR_CONVERGENCE_NOT_REACHED` (#1)
  aiida_quantumespresso_hp/workflows/hp/base.py
  tests/conftest.py
  tests/workflows/hp/test_base.py
Due: yapf

Apply name changes in keyword of HP v6.5 (#3)
  README.md
  aiida_quantumespresso_hp/parsers/hp.py
  aiida_quantumespresso_hp/workflows/hp/parallelize_atoms.py
Due: yapf

Fix the `utils.validation.validate_parent_calculation` method (#5)
  aiida_quantumespresso_hp/calculations/hp.py
  aiida_quantumespresso_hp/utils/validation.py
  tests/utils/__init__.py
  tests/utils/test_validation.py
Due: yapf

`HpParallelizeAtomsWorkChain`: simplify parallelization mechanism
  aiida_quantumespresso_hp/calculations/functions/collect_atomic_calculations.py
  aiida_quantumespresso_hp/workflows/hp/parallelize_atoms.py
  aiida_quantumespresso_hp/workflows/hubbard.py
  tests/calculations/functions/__init__.py
  tests/calculations/functions/test_collect_atomic_calculations.py
Due: yapf

`HpCalculation`: correct and improve handling of parent folders
  aiida_quantumespresso_hp/calculations/hp.py
  aiida_quantumespresso_hp/cli/calculations/hp.py
  aiida_quantumespresso_hp/cli/workflows/hp/base.py
  aiida_quantumespresso_hp/cli/workflows/hp/main.py
  tests/calculations/test_hp.py
  tests/calculations/test_hp/test_collect.in
  tests/calculations/test_hp/test_default.in
  tests/conftest.py
Due: yapf

`HpCalculation`: fix parsing of exit codes for missing output files
  aiida_quantumespresso_hp/calculations/hp.py
  aiida_quantumespresso_hp/parsers/hp.py
  tests/parsers/fixtures/hp/failed_no_hubbard_chi/aiida.Hubbard_parameters.dat
  tests/parsers/fixtures/hp/failed_no_hubbard_chi/aiida.out
  tests/parsers/fixtures/hp/failed_no_hubbard_parameters/aiida.chi.dat
  tests/parsers/fixtures/hp/failed_no_hubbard_parameters/aiida.out
  tests/parsers/fixtures/hp/failed_stdout_incomplete/aiida.Hubbard_parameters.dat
  tests/parsers/fixtures/hp/failed_stdout_incomplete/aiida.chi.dat
  tests/parsers/fixtures/hp/failed_stdout_incomplete/aiida.out
  tests/parsers/test_hp.py
Due: yapf

`SelfConsistentHubbardWorkChain`: fix bug with Hubbard site order
  aiida_quantumespresso_hp/workflows/hubbard.py
  tests/conftest.py
  tests/workflows/test_hubbard.py
Due: yapf

Drop support for Python 3.5
  .ci/validate_version_number.py
  .github/workflows/ci.yml
  aiida_quantumespresso_hp/calculations/hp.py
  aiida_quantumespresso_hp/cli/workflows/hubbard.py
  aiida_quantumespresso_hp/parsers/hp.py
  aiida_quantumespresso_hp/utils/validation.py
  aiida_quantumespresso_hp/workflows/hp/base.py
  aiida_quantumespresso_hp/workflows/hp/main.py
  aiida_quantumespresso_hp/workflows/hp/parallelize_atoms.py
  aiida_quantumespresso_hp/workflows/hubbard.py
  setup.json
  tests/calculations/test_hp.py
Due: yapf, version-number

`SelfConsistentHubbardWorkChain`: add call link labels
  aiida_quantumespresso_hp/workflows/hubbard.py
Due: yapf

`SelfConsistentHubbard`: convergence on per-site basis not per-kind
  aiida_quantumespresso_hp/calculations/functions/structure_relabel_kinds.py
  aiida_quantumespresso_hp/workflows/hubbard.py
Due: yapf

`SelfConsistentHubbardWorkChain`: fix `run_scf_fixed_magnetic`
  aiida_quantumespresso_hp/workflows/hubbard.py
  tests/conftest.py
  tests/workflows/test_hubbard.py
Due: yapf

`HpCalculation`: automatically mark invalidates cache
  aiida_quantumespresso_hp/calculations/hp.py
  tests/calculations/test_autoinvalidate_cache.py
Due: yapf

`HpCalculation`: automatically mark invalidates cache (#6)
  aiida_quantumespresso_hp/calculations/hp.py
  tests/calculations/test_autoinvalidate_cache.py
Due: yapf

`PwCalculation`: add unit test for `hubbard_file` input
  .github/workflows/ci.yml
  tests/calculations/test_pw.py
  tests/conftest.py
Due: yapf

Add files via upload
  aiida_quantumespresso_hp/workflows/hubbardV.py
Due: yapf

Protocols: Add protocols for the hp work chains
  aiida_quantumespresso_hp/workflows/hp/base.py
  aiida_quantumespresso_hp/workflows/hp/main.py
  aiida_quantumespresso_hp/workflows/hp/parallelize_atoms.py
  aiida_quantumespresso_hp/workflows/hubbard.py
  aiida_quantumespresso_hp/workflows/protocols/__init__.py
  aiida_quantumespresso_hp/workflows/protocols/hp/base.yaml
  aiida_quantumespresso_hp/workflows/protocols/hp/main.yaml
  aiida_quantumespresso_hp/workflows/protocols/hp/parallelize_atoms.yaml
  aiida_quantumespresso_hp/workflows/protocols/hubbard.yaml
  aiida_quantumespresso_hp/workflows/protocols/hubbard_u.yaml
Due: yapf

Revisited Outline & Spin Relabeling Bug Fix
  aiida_quantumespresso_hp/workflows/hubbard.py
Due: yapf

Spin Relabeling Bug Fix
  aiida_quantumespresso_hp/calculations/functions/structure_relabel_kinds.py
Due: yapf

New scfhubbardworkchain
  aiida_quantumespresso_hp/workflows/hubbard.py
Due: yapf

Update/add calcfunctions
  aiida_quantumespresso_hp/calculations/functions/create_hubbard_v_from_distance.py
  aiida_quantumespresso_hp/calculations/functions/structure_relabel_kinds.py
  aiida_quantumespresso_hp/calculations/functions/structure_reorder_kinds.py
Due: yapf

Update/add utilities
  aiida_quantumespresso_hp/utils/general.py
Due: yapf

DevOps: fix the CI workflow
  .github/workflows/ci.yml
  setup.json
Due: version-number

DevOps: fix the CI workflow (#22)
  .github/workflows/ci.yml
  setup.json
Due: version-number

DevOps: adopt PEP 621 and move build spec to `pyproject.toml`
  .ci/validate_version_number.py
  .pre-commit-config.yaml
  MANIFEST.in
  aiida_quantumespresso_hp/calculations/hp.py
  aiida_quantumespresso_hp/parsers/hp.py
  aiida_quantumespresso_hp/workflows/hp/base.py
  pyproject.toml
  setup.json
  setup.py
Due: yapf, version-number

DevOps: adopt PEP 621 and move build spec to `pyproject.toml` (#23)
  .ci/validate_version_number.py
  .pre-commit-config.yaml
  MANIFEST.in
  aiida_quantumespresso_hp/calculations/hp.py
  aiida_quantumespresso_hp/parsers/hp.py
  aiida_quantumespresso_hp/workflows/hp/base.py
  pyproject.toml
  setup.json
  setup.py
Due: yapf, version-number

DevOps: update pre-commit dependencies, add `isort` and `flynt`
  .pre-commit-config.yaml
  aiida_quantumespresso_hp/calculations/hp.py
  aiida_quantumespresso_hp/cli/__init__.py
  aiida_quantumespresso_hp/cli/calculations/hp.py
  aiida_quantumespresso_hp/cli/workflows/hp/base.py
  aiida_quantumespresso_hp/cli/workflows/hp/main.py
  aiida_quantumespresso_hp/cli/workflows/hubbard.py
  aiida_quantumespresso_hp/parsers/hp.py
  aiida_quantumespresso_hp/workflows/hp/base.py
  aiida_quantumespresso_hp/workflows/hp/main.py
  aiida_quantumespresso_hp/workflows/hubbard.py
  pyproject.toml
  tests/calculations/test_autoinvalidate_cache.py
  tests/calculations/test_hp.py
  tests/conftest.py
  tests/parsers/test_hp.py
  tests/utils/test_validation.py
  tests/workflows/hp/test_base.py
  tests/workflows/test_hubbard.py
Due: yapf

DevOps: update pre-commit dependencies, add `isort` and `flynt` (#24)
  .pre-commit-config.yaml
  aiida_quantumespresso_hp/calculations/hp.py
  aiida_quantumespresso_hp/cli/__init__.py
  aiida_quantumespresso_hp/cli/calculations/hp.py
  aiida_quantumespresso_hp/cli/workflows/hp/base.py
  aiida_quantumespresso_hp/cli/workflows/hp/main.py
  aiida_quantumespresso_hp/cli/workflows/hubbard.py
  aiida_quantumespresso_hp/parsers/hp.py
  aiida_quantumespresso_hp/workflows/hp/base.py
  aiida_quantumespresso_hp/workflows/hp/main.py
  aiida_quantumespresso_hp/workflows/hubbard.py
  pyproject.toml
  tests/calculations/test_autoinvalidate_cache.py
  tests/calculations/test_hp.py
  tests/conftest.py
  tests/parsers/test_hp.py
  tests/utils/test_validation.py
  tests/workflows/hp/test_base.py
  tests/workflows/test_hubbard.py
Due: yapf

Add proper file extension to license file
  LICENSE.txt
  pyproject.toml
Due: none

DevOps: Move the source directory into `src/`
  .pre-commit-config.yaml
  src/aiida_quantumespresso_hp/__init__.py
  src/aiida_quantumespresso_hp/calculations/__init__.py
  src/aiida_quantumespresso_hp/calculations/functions/__init__.py
  src/aiida_quantumespresso_hp/calculations/functions/structure_relabel_kinds.py
  src/aiida_quantumespresso_hp/calculations/functions/structure_reorder_kinds.py
  src/aiida_quantumespresso_hp/calculations/hp.py
  src/aiida_quantumespresso_hp/cli/__init__.py
  src/aiida_quantumespresso_hp/cli/calculations/__init__.py
  src/aiida_quantumespresso_hp/cli/calculations/hp.py
  src/aiida_quantumespresso_hp/cli/workflows/__init__.py
  src/aiida_quantumespresso_hp/cli/workflows/hp/__init__.py
  src/aiida_quantumespresso_hp/cli/workflows/hp/base.py
  src/aiida_quantumespresso_hp/cli/workflows/hp/main.py
  src/aiida_quantumespresso_hp/cli/workflows/hubbard.py
  src/aiida_quantumespresso_hp/parsers/__init__.py
  src/aiida_quantumespresso_hp/parsers/hp.py
  src/aiida_quantumespresso_hp/utils/__init__.py
  src/aiida_quantumespresso_hp/utils/validation.py
  src/aiida_quantumespresso_hp/workflows/__init__.py
  src/aiida_quantumespresso_hp/workflows/hp/__init__.py
  src/aiida_quantumespresso_hp/workflows/hp/base.py
  src/aiida_quantumespresso_hp/workflows/hp/main.py
  src/aiida_quantumespresso_hp/workflows/hp/parallelize_atoms.py
  src/aiida_quantumespresso_hp/workflows/hubbard.py
Due: yapf

DevOps: Move the source directory into `src/` (#25)
  .pre-commit-config.yaml
  src/aiida_quantumespresso_hp/__init__.py
  src/aiida_quantumespresso_hp/calculations/__init__.py
  src/aiida_quantumespresso_hp/calculations/functions/__init__.py
  src/aiida_quantumespresso_hp/calculations/functions/structure_relabel_kinds.py
  src/aiida_quantumespresso_hp/calculations/functions/structure_reorder_kinds.py
  src/aiida_quantumespresso_hp/calculations/hp.py
  src/aiida_quantumespresso_hp/cli/__init__.py
  src/aiida_quantumespresso_hp/cli/calculations/__init__.py
  src/aiida_quantumespresso_hp/cli/calculations/hp.py
  src/aiida_quantumespresso_hp/cli/workflows/__init__.py
  src/aiida_quantumespresso_hp/cli/workflows/hp/__init__.py
  src/aiida_quantumespresso_hp/cli/workflows/hp/base.py
  src/aiida_quantumespresso_hp/cli/workflows/hp/main.py
  src/aiida_quantumespresso_hp/cli/workflows/hubbard.py
  src/aiida_quantumespresso_hp/parsers/__init__.py
  src/aiida_quantumespresso_hp/parsers/hp.py
  src/aiida_quantumespresso_hp/utils/__init__.py
  src/aiida_quantumespresso_hp/utils/validation.py
  src/aiida_quantumespresso_hp/workflows/__init__.py
  src/aiida_quantumespresso_hp/workflows/hp/__init__.py
  src/aiida_quantumespresso_hp/workflows/hp/base.py
  src/aiida_quantumespresso_hp/workflows/hp/main.py
  src/aiida_quantumespresso_hp/workflows/hp/parallelize_atoms.py
  src/aiida_quantumespresso_hp/workflows/hubbard.py
Due: yapf

Path conditions:
  yapf: any of: \.py$, but not: (?x)^(
    utils/fastentrypoints.py
)$

  version-number: any of: (?x)^(
    setup.json|
    aiida_quantumespresso_hp/__init__.py|
    ./.ci/validate_version_number.py|
)$
